button > p {
  text-align: center;
}

#navbutton {
  text-decoration: none;
  border-radius: 5%;
  color: black;
  padding: 5px 20px 5px;
  opacity: 70%;
  font-size: medium;
  border-style: outset;
  margin-right: 10px;
}

#navbutton:hover {
  opacity: 100%;
  transition: 0.5s;
  color: white;
}

#navbutton > Link {
  text-decoration: none;
}

#question-area {
  background: #eeeeee;
  padding: 40px;
  border: 15px;
  border-radius: 5%;
}

#option-button {
  text-decoration: none;
}

.btn-sml {
  padding: 10px 10px;
  font-size: 22px;
  border-radius: 8px;
  opacity: 75%;
}

.link-prop {
  text-decoration: none;
}

.color-dark {
  color: #222831 !important;
}

.color-mid {
  color: #393e46 !important;
}

.color-primary {
  color: #00adb5 !important;
}

.color-light {
  color: #eeeeee !important;
}

.background-color-dark {
  background-color: #222831 !important;
}

.background-color-mid {
  background-color: #393e46 !important;
}

.background-color-primary {
  background-color: #00adb5 !important;
  border-color: #222831 !important;
}

.background-color-light {
  background-color: #eeeeee !important;
}

.border-color-primary {
  border-color: #00adb5 !important;
}

body {
  background-color: #eeeeee;
}

.loginborder {
  padding: 40px;
  border: 15px;
  border-radius: 5%;
  background-color: #eeeeee !important;
}
