button > p {
  text-align: center;
}

#navbutton {
  text-decoration: none;
  border-radius: 5%;
  color: black;
  padding: 5px 20px 5px;
  opacity: 70%;
  font-size: medium;
  border-style: outset;
  margin-right: 10px;
}

#navbutton:hover {
  opacity: 100%;
  transition: 0.5s;
  color: white;
}

#navbutton > Link {
  text-decoration: none;
}

#question-area {
  background: rgba(223, 225, 195, 0.3);
  padding: 30px;
  border-radius: 20px;
}

#submitbutton {
}

#option-button {
  text-decoration: none;
}
